<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.skripsi.gis.bekasipatriot">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>

    <application
        android:icon="@mipmap/icon_new"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity.MainSplash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activity.DetailActivity.DetailActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.MainActivity.HomeActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.CardHomeActivity.KecamatanActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.CardHomeActivity.KelurahanActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.CardHomeActivity.PuskesmasActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.CardHomeActivity.DinasActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.CardHomeActivity.PemerintahActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.CardHomeActivity.PolisiActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.ShowMaps.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".activity.AboutActivity.AboutActivity">

        </activity>

        <activity android:name=".activity.Tips_Activity.TipsActivity">

        </activity>

    </application>

</manifest>